.grid-layout {
  display: grid;
  grid-template-areas: "main aside";
  grid-template-columns: minmax(0, 3fr) minmax(15rem, 1fr);
  align-items: start;
  gap: 1.25rem;
}

.grid-layout main {
  grid-area: main;
}

.grid-layout aside {
  grid-area: aside;
}

@media (max-width: 768px) {
  .grid-layout {
    grid-template-areas:
      "main"
      "aside";
    grid-template-columns: minmax(0, 1fr);
  }
}
